@model IEnumerable<Proyecto_Botica.Models.Producto>

@{
    ViewData["Title"] = "ListarProducto";
    Layout = null;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="~/css/Producto/listarproducto.css" rel="stylesheet" />
}

<h1 class="titulo">Listar Producto</h1>

<p>
    <a asp-action="AgregarProducto" class="btn btn-primary">Registrar Producto</a>
</p>
<table class="table table-striped table-bordered">
    <thead class="table-dark">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Categoría</th>
            <th class="fecha">Fecha de Fabricación</th>
            <th class="fecha">Fecha de Vencimiento</th>
            <th>Precio</th>
            <th>Stock</th>
            <th>Imagen</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                <td class="fecha">@Html.DisplayFor(modelItem => item.FechaFabricacion)</td>
                <td class="fecha">@Html.DisplayFor(modelItem => item.FechaVencimiento)</td>
                <td>S/. @Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>
                    @if (!string.IsNullOrEmpty(item.Imagen)) 
                    {
                        <img src="@item.Imagen" alt="@item.Nombre" style="max-width: 100px; max-height: 100px; width: auto; height: auto;" />
                    }
                    else
                    {
                        <span>Sin imagen</span>
                    }
                </td>
                <td class="boton">
                    <div class="botones">
                        @Html.ActionLink("Editar", "EditProducto", new { id = item.IdProducto }, new { @class = "btn btn-success" })
                    </div>
                    <div class="botones">
                        @Html.ActionLink("Ver Detalles", "VerDetalleProducto", new { id = item.IdProducto }, new { @class = "btn btn-info" })
                    </div>
                    <div class="botones">
                        @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.IdProducto },
                                 new
                                 {
                                     @class = "btn btn-danger",
                                     onclick = "return confirm('¿Estás seguro de que deseas eliminar este producto?');"
                                 })
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>

