@model IEnumerable<Proyecto_Botica.Models.Producto>

@{
    ViewData["Title"] = "ListarProducto";
    Layout = null;
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" />
    <link href="~/css/Producto/listarproducto.css" rel="stylesheet" />
}

<h1 class="titulo">Listar Producto</h1>

<p>
    <a asp-action="AgregarProducto" class="btn btn-danger">Registrar Producto</a>
</p>
<table class="table table-striped">
    <thead class="table-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.IdProducto)</th>
            <th>@Html.DisplayNameFor(model => model.Nombre)</th>
            <th>@Html.DisplayNameFor(model => model.Descripcion)</th>
            <th>@Html.DisplayNameFor(model => model.NombreCategoria)</th>
            <th>@Html.DisplayNameFor(model => model.FechaFabricacion)</th>
            <th>@Html.DisplayNameFor(model => model.FechaVencimiento)</th>
            <th>@Html.DisplayNameFor(model => model.Precio)</th>
            <th>@Html.DisplayNameFor(model => model.Stock)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.IdProducto)</td>
                <td>@Html.DisplayFor(modelItem => item.Nombre)</td>
                <td>@Html.DisplayFor(modelItem => item.Descripcion)</td>
                <td>@Html.DisplayFor(modelItem => item.NombreCategoria)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaFabricacion)</td>
                <td>@Html.DisplayFor(modelItem => item.FechaVencimiento)</td>
                <td>@Html.DisplayFor(modelItem => item.Precio)</td>
                <td>@Html.DisplayFor(modelItem => item.Stock)</td>
                <td>
                    @Html.ActionLink("Editar", "EditProducto", new { id = item.IdProducto }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Eliminar", "EliminarProducto", new { id = item.IdProducto },
                             new
                             {
                                 @class = "btn btn-danger",
                                 onclick = "return confirm('¿Estás seguro de que deseas eliminar este producto?');"
                             })
                </td>
            </tr>
        }
    </tbody>
</table>

